<script setup>
import ContactInputs from "@comp/register/form/ContactInputs.vue";
import AccountInputs from "@comp/register/form/AccountInputs.vue";

const tabs = [
    {
        id: 1,
        text: 'Контактная информация',
        component: ContactInputs
    },
    {
        id: 2,
        text: 'Данные для входа',
        component: AccountInputs
    },
];

</script>

<template>
    <BaseSettings :tabs="tabs"/>
</template>

<script>
import BaseSettings from "@/views/base/BaseSettings.vue";

export default {
    name: "ClientSettings",
    components: {BaseSettings}
}
</script>

<style scoped>

</style>
