<script setup>
import DefaultTable from "@comp/tables/DefaultTable.vue";

const tableHeaders = [
    {name: "id", label: "Номер заявки", field: "id", sortable: true, align: 'left', style: 'width: 20px'},
    {label: "Владелец", field: 'owner_full_name', sortable: true, align: 'left'},
    {label: "Тип питомца", field: "pet_type", sortable: true, align: 'left'},
    {label: "Кличка питомца", field: "pet_name", sortable: true, align: 'left'},
    {label: "Цена за услугу", field: "service_price", sortable: true, align: 'left'},
    {label: "Дата", field: "created", sortable: true, align: 'left'},
];
</script>

<template>
    <BaseView title="Мои консультации">
        <v-container fluid>
            <v-row>
                <v-col cols="12" class="mt-3">
                    <DefaultTable
                        :rows="entities"
                        :cols="tableHeaders"
                        :clickable="true"
                        @row-click="toShow($event?.id)"
                    />
                </v-col>
            </v-row>
        </v-container>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "MyConsultations",
    components: {BaseView},
    methods: {
        ...mapActions({
            fetch: 'consultations/fetchMyAll'
        }),

        toShow(id) {
            this.$router.push({name: 'my-consultation-show', params: {id}})
        },
    },
    computed: {
        ...mapGetters({
            entities: 'consultations/myAll'
        })
    },
    beforeMount() {
        this.fetch()
    }
}
</script>

<style scoped>

</style>
