<template>
    <BaseView title="Просмотр заявки">
        <v-card-subtitle style="font-size: .95rem;">
            <strong>{{ consultation?.vet_full_name ?? '-' }}</strong>
            <br>
            ответственный ветеринар
        </v-card-subtitle>

        <v-container fluid>
            <v-row align-content="stretch">
                <v-col cols="12" md="8">
                    <v-divider thickness="1" color="primary"/>

                    <AccentSheet
                        v-if="consultation !== null"
                        :container="true"
                        class="fill-height"
                    >
                        <v-row>
                            <v-col v-if="consultation.pet.image_path" cols="12" md="4">
                                <v-img :src="consultation.pet.image_path" height="350"/>
                            </v-col>

                            <v-col cols="12" md="8">
                                <p>
                                    <b>Кличка питомца</b> <br>
                                    {{ consultation.pet_name }}
                                </p>

                                <p>
                                    <b>Тип питомца</b> <br>
                                    {{ consultation.pet_type }}
                                </p>

                                <p>
                                    <b>Симптомы</b> <br>
                                    {{ consultation.symptoms }}
                                </p>

                                <div>
                                    <b>Комментарий</b> <br>

                                    <v-card-text class="px-0">
                                        {{ consultation.comment }}
                                    </v-card-text>
                                </div>
				                <div>
                                    <b>Комментарий от ChatGPT</b> <br>

                                    <v-card-text class="px-0">
                                        {{ consultation.commentChat }}
                                    </v-card-text>
                                </div>
                            </v-col>

                            <v-col v-for="attachment in consultation.attachments" :key="attachment.path">
                                <v-img :src="attachment.path" height="400" width="400"></v-img>
                            </v-col>

                            <v-col cols="12">
                                <v-divider color="blue" thickness="2"/>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col cols="12" md="4">
                                <p>
                                    <b>Диагноз</b> <br>
                                    в разработке
                                </p>

                                <p>
                                    <b>Описание диагноза</b> <br>
                                    в разработке
                                </p>

                                <p>
                                    <b>Цена за услугу</b> <br>
                                    {{ consultation.service_price }}
                                </p>

                                <p>
                                    <b>Ответ ветеренара</b> <br>
                                    {{ consultation.vet_response.diagnose }}
                                </p>

                                <p>
                                    <b>Рекомендации ветеренара</b> <br>
                                    {{ consultation.vet_response.recommendation }}
                                </p>

                                <p>
                                    <b>Статус</b> <br>
                                    в разработке
                                </p>

                                <p style="opacity: .8;">
                                    Заявка создана<br>
                                    {{ consultation.created }}
                                </p>
                            </v-col>
                            <v-col cols="12">
                                <v-btn @click="toResponse(this.$route.params.id)" v-if="consultation.vet_response === null || consultation.vet_response.status === 3 || consultation.vet_response.status === 1">
                                    Ответить клиенту
                                </v-btn>

                            </v-col>
                            <v-col>
                                <v-btn @click="responseApprove(consultation.vet_response.id)" v-if="consultation.vet_response !== null && consultation.vet_response.status === 1">
                                    Отправить на утверждение
                                </v-btn>
                                <v-btn @click="responseApprove(consultation.vet_response.id)" v-if="consultation.vet_response !== null && consultation.vet_response.status === 3">
                                    Отправить на повторное утвержение
                                </v-btn>
                                <p v-if="consultation.vet_response !== null && consultation.vet_response.status === 2">
                                    Ответ клиенту ожидает подтверждения администратора
                                </p>
                                <p v-if="consultation.vet_response !== null && consultation.vet_response.status === 3">
                                    Комментарий от администратора {{ consultation.vet_response.reason_deviation }}
                                </p>
                                <p v-if="consultation.vet_response !== null && consultation.vet_response.status === 4">
                                    Ответ клиенту был утвержден администратором
                                </p>
                            </v-col>


                            <v-col cols="12">
                                <DefaultTable
                                    title="История статусов"
                                />
                            </v-col>
                        </v-row>
                    </AccentSheet>

                    <AccentSheet v-else :container="true">
                        <v-row>
                            <v-col align-self="start">
                                <v-progress-circular indeterminate/>
                            </v-col>
                        </v-row>
                    </AccentSheet>
                </v-col>

                <v-col v-show="consultation !== null && consultation.vet_response !== null && consultation.vet_response.status === 4" cols="12" md="4">
                    <v-divider thickness="1" color="primary"/>

                    <AccentSheet :container="true" class="fill-height">
                        <v-row class="fill-height">
                            <v-col align-self="start">
                                <v-card border="4">
                                    <v-toolbar color="#0e0c28">
                                        <v-toolbar-title style="color: white;">Чат с клиентом (макет)</v-toolbar-title>
                                    </v-toolbar>

                                    <v-card-text class="overflow-y-auto" style="max-height: 400px;">
                                        <v-sheet>
                                            <template v-for="message in messages" :key="message.id">
                                                <div :class="{ test: message.user?.role_id === 3}">
                                                    <b>{{ message.user?.name + ' ' + (new Date(message.created_at)).getFullYear() + '-' + (new Date(message.created_at)).getMonth() + '-' + (new Date(message.created_at)).getDay() + ' ' + (new Date(message.created_at)).getHours() + ':' + (new Date(message.created_at)).getMinutes() }}</b><br>
                                                    {{ message.message }}
                                                    <br>
                                                </div>
                                            </template>
                                        </v-sheet>
                                    </v-card-text>

                                    <v-card-actions class="px-0">
                                        <v-card-text>
                                            <v-text-field
                                                label="Напишите сообщение..."
                                                v-model="messageInput"
                                                variant="underlined"
                                                append-inner-icon="mdi-send"
                                                @click:append-inner="sendMessage"
                                            />
                                        </v-card-text>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                        </v-row>
                    </AccentSheet>
                </v-col>
            </v-row>
        </v-container>
    </BaseView>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import BaseView from "@/views/BaseView.vue";
import DefaultTable from "@comp/tables/DefaultTable.vue";
import AccentSheet from "@comp/sheets/AccentSheet.vue";

export default {
    name: "ConsultationShow",
    components: {AccentSheet, DefaultTable, BaseView},
    data: () => ({
        consultation: null,
        loading: false,
        messageInput: '',
        messages: []
    }),
    methods: {
        ...mapActions({
            fetch: 'consultations/fetchMy',
            fetchMessages: 'chat/getMessages',
            addMessage: 'chat/addMessage',
            responseChangeStatus: 'consultationResponses/changeStatus',
        }),

        toResponse(id) {
            if (this.consultation.vet_response) {
                this.$router.push({
                    name: 'my-consultation-response-update',
                    params: {'consultationId': id, 'id': this.consultation.vet_response.id}
                })
            } else {
                this.$router.push({name: 'my-consultation-response', params: {'consultationId': id}});
            }
        },

        responseApprove(id) {
            const form = (new FormData());

            this.loading = true;

            form.append('id', id);
            form.append('status', 2);
            this.responseChangeStatus(form).finally(() => this.loading = false);

            this.consultation.vet_response.status = 2;
        },

        sendMessage() {
            this.addMessage({id: this.$route.params.id, message: this.messageInput});
            this.messageInput = '';
        },
    },
    computed: {
        ...mapGetters({
            user: 'users/user'
        }),
    },
    beforeMount() {
        this.loading = true

        this.fetch(this.$route.params.id)
            .finally(() => this.loading = false)
            .then(i => this.consultation = i)

        this.fetchMessages(this.$route.params.id).then(data => this.messages = data)

        Echo.channel(`chat.${this.$route.params.id}`).listen('MessageSent', (e) => {
            this.messages.push({
                user: e.user,
                message: e.message.message,
                created_at: e.message.created_at
            });
            this.$forceUpdate();
        });

    }
}
</script>

<style>
.test {
    text-align: end
}
</style>
