<template>
    <BaseView title="Настройки">
        <v-container>
            <v-row>
                <v-col cols="12" md="4">
                    <v-sheet rounded="lg">
                        <v-list v-model="currentTab" rounded="lg">
                            <v-list-item
                                v-for="tab in tabs"
                                :value="tab.id"
                                :key="tab.id"
                                :active="tab.id === currentTab"
                                @click="currentTab = tab.id"
                            >
                                <v-list-item-title>
                                    {{ tab.text }}
                                </v-list-item-title>
                            </v-list-item>

                            <v-divider class="my-2"></v-divider>
                        </v-list>
                    </v-sheet>
                </v-col>

                <v-col cols="12" md="7">
                    <v-sheet rounded="lg" class="pa-4" elevation="4">
                        <v-window v-model="currentTab">
                            <v-window-item
                                v-for="tab in tabs"
                                :key="`tab-${tab.id}`"
                                :value="tab.id"
                            >
                                <component
                                    :is="tab.component"
                                    :for-edit="true"
                                />
                            </v-window-item>
                        </v-window>
                    </v-sheet>
                </v-col>
            </v-row>
        </v-container>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";

export default {
    name: "BaseSettings",
    components: {BaseView},

    props: {
        tabs: Object
    },

    data: () => ({
        currentTab: 1
    })
}
</script>

<style scoped>

</style>
