<script>
import LoginLayout from "@comp/layouts/LoginLayout.vue";
import AppLayout from "@comp/layouts/AppLayout.vue";
export default {
    name: 'App',
    components: {LoginLayout, AppLayout},

    computed: {
        // динамически подгружаем layout приложухи
        layout() {
            return this.$route.meta.layout;
        }
    }
};
</script>

<template>
    <component :is="layout" />
</template>
