<template>
    <div ref="form">
        <v-text-field
            :loading="formSending"
            label="E-mail"
            v-if="!forEdit"
            v-model="account.email"
            @change="onChangeAccount"

            :rules="[emailV, required]"
            class="mb-2"
            type="text"
            placeholder="example@email.com"
            autocomplete="email"
            density="comfortable"
            variant="filled"
            clearable
        />

        <v-text-field
            :loading="formSending"
            label="Текущий пароль"
            v-model="current_password"
            ref="current_password"
            v-if="forEdit"
            :error-messages="errorMessages.current_password"
            @click:appendInner="showCurrentPassword = !showCurrentPassword"
            :append-inner-icon="showCurrentPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[required]"
            :type="showCurrentPassword ? 'text' : 'password'"
            class="mb-2"
            variant="filled"
            autocomplete="new-password"
            density="comfortable"
        />

        <v-text-field
            :loading="formSending"
            :label="forEdit ? 'Новый пароль' : 'Пароль'"
            v-model="account.password"
            ref="password"
            @change="onChangeAccount"
            :error-messages="errorMessages.password"

            @click:appendInner="showPassword = !showPassword"
            :append-inner-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"

            :rules="[required]"
            :type="showPassword ? 'text' : 'password'"
            class="mb-2"
            variant="filled"
            autocomplete="new-password"
            density="comfortable"
        />

        <v-text-field
            :loading="formSending"
            label="Повторите пароль"
            ref="password_confirmation"
            v-model="account.password_confirmation"
            @change="onChangeAccount"

            :rules="[required]"
            class="mb-2"
            type="password"
            autocomplete="new-password"
            variant="filled"
            density="comfortable"
        />

        <ErrorResponseBanner
            :message="errorMessage"
            @hide="clearErrors"
        />

        <v-card-actions v-show="forEdit">
            <v-spacer/>
            <v-btn
                @click="update"
                :loading="formSending"
                :disabled="formSending"
                color="success"
            >
                Сохранить
            </v-btn>
        </v-card-actions>
    </div>
</template>

<script>
import {mapActions} from "vuex";
import ErrorResponseBanner from "@comp/banners/ErrorResponseBanner.vue";

export default {
    name: "AccountInputs",
    components: {ErrorResponseBanner},
    emits: ['changeAccount'],

    props: {
        forEdit: false
    },

    data: () => ({
        formSending: false,
        showCurrentPassword: false,
        showPassword: false,
        errorMessage: '',

        errorMessages: {
            password: [],
            current_password: [],
        },

        current_password: '',
        account: {
            email: '',
            password: '',
            password_confirmation: ''
        }
    }),

    computed: {
        form () {
            return {
                password: this.account.password,
                password_confirmation: this.account.password_confirmation,
                current_password: this.current_password,
            }
        },
    },

    methods: {
        onChangeAccount() {
            this.$emit('changeAccount', this.account)
        },

        required(v) {
            return !!v || 'Обязательное поле'
        },

        emailV(v) {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(v) || 'Некорректный e-mail.'
        },

        ...mapActions({
            fetchUser: 'users/fetchCurrentUser',
            updateMyPassword: 'users/updateMyPassword',
        }),

        async update() {
            if (this.forEdit) {
                this.formSending = true

                try {
                    await this.updateMyPassword({
                        current_password: this.current_password,
                        password: this.account.password,
                        password_confirmation: this.account.password_confirmation,
                    })
                    this.clearErrors()
                } catch (e) {
                    this.onUpdatedError(e)
                }
                this.onUpdated()
            }
        },

        onUpdated() {
            this.formSending = false

            this.current_password = ''
            this.account.password = ''
            this.account.password_confirmation = ''

            if (this.errorMessage.length < 1) {
                this.clearErrors()
            }
        },

        clearErrors() {
            this.errorMessage = ''

            for (let field in this.errorMessages) {
                this.errorMessages[field] = []
            }
            Object.keys(this.form).forEach(f => {
                this.$refs[f].reset()
            })
        },

        onUpdatedError(error) {
            if (error.response !== undefined) {
                const data = error.response.data

                if (data?.message !== null) {
                    this.errorMessage = data.message;
                }

                if (data?.errors !== null) {
                    for (let field in data.errors) {
                        this.errorMessages[field] = data.errors[field]
                    }
                }
            }
        },
    },
}
</script>

<style scoped>

</style>
