<template>
    <div>
        <v-text-field
            label="Номер расчетного счета"
            v-model="bank.settlement_account"
            @change="onChangeBank"

            :rules="[required]"
            class="mb-2"
            type="number"
            autocomplete="settlement_account"
            :density="compact ? 'compact' : 'comfortable'"
            :variant="outlined ? 'outlined' : 'filled'"
            clearable
        />

        <v-text-field
            label="Наименование учреждения банка"
            v-model="bank.bank_name"
            @change="onChangeBank"

            :rules="[required]"
            class="mb-2"
            :variant="outlined ? 'outlined' : 'filled'"
            autocomplete="bank_name"
            :density="compact ? 'compact' : 'comfortable'"
        />

        <v-text-field
            label="Местонахождение банка"
            v-model="bank.bank_address"
            @change="onChangeBank"

            :rules="[required]"
            class="mb-2"
            autocomplete="bank_address"
            :variant="outlined ? 'outlined' : 'filled'"
            :density="compact ? 'compact' : 'comfortable'"
        />

        <v-text-field
            label="Корреспондентский счет банка"
            v-model="bank.bank_correspondent_account"
            @change="onChangeBank"

            :rules="[required]"
            class="mb-2"
            autocomplete="bank_correspondent_account"
            type="number"
            :variant="outlined ? 'outlined' : 'filled'"
            :density="compact ? 'compact' : 'comfortable'"
        />

        <v-text-field
            label="БИК"
            v-model="bank.bik"
            @change="onChangeBank"

            :rules="[required]"
            class="mb-2"
            autocomplete="bik"
            type="number"
            :variant="outlined ? 'outlined' : 'filled'"
            :density="compact ? 'compact' : 'comfortable'"
        />
    </div>
</template>

<script>
import {toRaw} from "vue";

export default {
    name: "BankInputs",
    props: ['bankData', 'compact', 'outlined'],
    emits: ['changeBank'],

    data: () => ({
        bank: {
            settlement_account: '',
            bank_name: '',
            bank_address: '',
            bank_correspondent_account: '',
            bik: '',
        }
    }),

    beforeMount() {
        if (this.bankData) {
            this.bank = toRaw(this.bankData)
        }
    },

    methods: {
        onChangeBank() {
            this.$emit('changeBank', this.bank)
        },

        required(v) {
            return !!v || 'Обязательное поле'
        },

        emailV(v) {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(v) || 'Некорректный e-mail.'
        },
    },
}
</script>

<style scoped>

</style>
