<template>
    <div>
        <v-text-field
            label="Фамилия"
            v-model="contact.surname"
            @change="onChange"

            :rules="[required]"
            variant="filled"
            class="mb-2"
            autocomplete="surname"
            type="text"
            density="compact"
            clearable
        />

        <v-text-field
            label="Имя"
            v-model="contact.name"
            @change="onChange"

            :rules="[required]"
            density="compact"
            variant="filled"
            class="mb-2"
            autocomplete="name"
            type="text"
            placeholder=""
            clearable
        />

        <v-text-field
            label="Отчество"
            v-model="contact.patronymic"
            @change="onChange"

            :rules="[required]"
            density="compact"
            variant="filled"
            class="mb-2"
            autocomplete="patronymic"
            type="text"
            placeholder=""
            clearable
        />

        <v-text-field
            label="Телефон"
            v-model="contact.phone"
            @change="onChange"

            :rules="[required]"
            density="compact"
            variant="filled"
            class="mb-2"
            autocomplete="phone"
            type="number"
            prefix="+7"
            placeholder="... ... .. .."
            clearable
        />

        <v-text-field
            label="Дата рождения"
            v-model="contact.birthday"
            @change="onChange"

            :rules="[required]"
            density="comfortable"
            variant="filled"
            class="mb-2"
            autocomplete="birthday"
            type="date"
            clearable
        />

        <v-text-field
            v-if="showCityField"
            label="Город"
            v-model="city"

            :rules="[required]"
            class="mb-2"
            autocomplete="city"
            density="comfortable"
            variant="filled"
            clearable
        />

        <v-card-actions v-show="forEdit">
            <v-spacer/>
            <v-btn
                @click="update"
                :loading="formSending"
                color="success"
            >
                Сохранить
            </v-btn>
        </v-card-actions>
    </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: "ContactInputs",
    emits: ['changeContact'],

    props: {
        forEdit: false
    },

    data: () => ({
        formSending: false,
        showCityField: false,
        city: '',
        contact: {
            surname: '',
            name: '',
            patronymic: '',
            phone: '',
            birthday: ''
        }
    }),

    methods: {
        onChange() {
            this.$emit('changeContact', this.contact)
        },

        required(v) {
            return !!v || 'Обязательное поле'
        },

        ...mapActions({
            fetchUser: 'users/fetchCurrentUser',
            updateMyContact: 'users/updateMyContact',
            reloadUser: 'users/reloadUser'
        }),

        update() {
            if (this.forEdit) {
                this.formSending = true
                let data = {...this.contact}

                if (this.showCityField) {
                    data = {...data, city: this.city}
                }

                this.updateMyContact(data)
                    .then(this.reloadUser)
                    .finally(() => this.formSending = false);
            }
        },
    },

    beforeMount() {
        if (this.forEdit) {
            this.fetchUser().then(u => {
                this.contact.name = u.name
                this.contact.surname = u.surname
                this.contact.patronymic = u.patronymic
                this.contact.birthday = u.birthday
                this.contact.phone = u.phone
                this.city = u.city
                if (u.role_slug !== 'vet') {
                    this.showCityField = true
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
