<template>
    <div>
        <v-text-field
            label="Наименование учебного заведения"
            v-model="education.education_name"
            @change="onChangeEducation"

            :rules="[required]"
            class="mb-2"
            type="text"
            autocomplete="education_name"
            density="comfortable"
            variant="filled"
            clearable
        />

        <v-card-actions v-show="forEdit">
            <v-spacer/>
            <v-btn
                @click="update"
                :loading="formSending"
                :disabled="formSending"
                color="success"
            >
                Сохранить
            </v-btn>
        </v-card-actions>
    </div>
</template>

<script>

import {mapActions} from "vuex";

export default {
    name: "EducationInputs",
    emits: ['changeEducation'],

    props: {
        forEdit: false
    },

    data: () => ({
        formSending: false,
        education: {
            education_name: '',
        }
    }),

    methods: {
        onChangeEducation() {
            this.$emit('changeEducation', this.education)
        },

        required(v) {
            return !!v || 'Обязательное поле'
        },

        ...mapActions({
            fetchUser: 'users/fetchCurrentUser',
            updateMyEducation: 'vets/updateMyEducation',
        }),

        update() {
            if (this.forEdit) {
                this.formSending = true

                this.updateMyEducation({
                    name: this.education.education_name,
                }).finally(this.formSending = false)
            }
        },
    },
}
</script>

<style scoped>

</style>
