<template>
    <div>
        <v-text-field
            label="Город фактического пребывания"
            v-model="passport.city"
            @change="onChangePassport"

            :rules="[required]"
            class="mb-2"
            autocomplete="city"
            density="comfortable"
            variant="filled"
            clearable
        />

        <v-text-field
            label="Адрес"
            v-model="passport.address"
            @change="onChangePassport"

            :rules="[required]"
            class="mb-2"
            autocomplete="address"
            density="comfortable"
            variant="filled"
            clearable
        />

        <v-text-field
            label="Серия паспорта"
            v-model="passport.passport_series"
            @change="onChangePassport"

            :rules="[required]"
            class="mb-2"
            type="number"
            max="9999"
            autocomplete="passport_series"
            density="comfortable"
            variant="filled"
            clearable
        />

        <v-text-field
            label="Номер паспорта"
            v-model="passport.passport_number"
            @change="onChangePassport"

            :rules="[required]"
            class="mb-2"
            type="number"
            max="999999"
            autocomplete="passport_number"
            density="comfortable"
            variant="filled"
            clearable
        />

        <v-card-actions v-show="forEdit">
            <v-spacer/>
            <v-btn
                @click="update"
                :loading="formSending"
                color="success"
            >
                Сохранить
            </v-btn>
        </v-card-actions>
    </div>
</template>

<script>

import {mapActions} from "vuex";

export default {
    name: "PassportInputs",
    emits: ['changePassport'],

    props: {
        forEdit: false
    },

    data: () => ({
        formSending: false,
        passport: {
            city: '',
            address: '',
            passport_series: '',
            passport_number: '',
        }
    }),

    methods: {
        onChangePassport() {
            this.$emit('changePassport', this.passport)
        },

        required(v) {
            return !!v || 'Обязательное поле'
        },

        ...mapActions({
            fetchUser: 'users/fetchCurrentUser',
            updateMyPassport: 'personal/updateMyPassport',
            reloadUser: 'users/reloadUser'
        }),

        update() {
            if (this.forEdit) {
                this.formSending = true

                this.updateMyPassport(this.passport)
                    .then(r => console.log(r))
                    .then(this.reloadUser)
                    .finally(() => this.formSending = false);
            }
        }
    },

    beforeMount() {
        if (this.forEdit) {
            this.fetchUser().then(u => {
                console.log(u);
                this.passport.city = u.city
                this.passport.address = u?.personal?.address
                this.passport.passport_series = u?.personal?.passport_series
                this.passport.passport_number = u?.personal?.passport_number
            })
        }
    }
}
</script>

<style scoped>

</style>
