<script setup>
import DefaultTable from "@comp/tables/DefaultTable.vue";
import AddBtn from "@comp/btns/AddBtn.vue";

const tableHeaders = [
    {name: 'id',label: "Номер заявки", field: "id", sortable: true, align: 'left', style: 'width: 20px'},
    {label: "Ответственный ветеринар", field: "vet_full_name", sortable: true, align: 'left'},
    {label: "Тип питомца", field: "pet_type", sortable: true, align: 'left'},
    {label: "Кличка питомца", field: "pet_name", sortable: true, align: 'left'},
    {label: "Цена за услугу", field: "service_price", sortable: true, align: 'left'},
    {label: "Дата заявки", field: "created", sortable: true, align: 'left'},
];
</script>

<template>
    <BaseView title="Заявки">
        <v-container fluid>
            <v-row>
                <v-col cols="12">
                    <AddBtn @click="$router.push({name: 'consultation-add'})" />
                </v-col>

                <v-col cols="12" class="mt-3">
                    <DefaultTable
                        :rows="entities"
                        :cols="tableHeaders"
                        :clickable="true"
                        @row-click="toShow($event?.id)"
                        :edit="toEdit"
                    />
                </v-col>
            </v-row>
        </v-container>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "AllConsultations",
    components: {BaseView},
    methods: {
        ...mapActions({
            fetch: 'consultations/fetchAll'
        }),

        toShow(id) {
            this.$router.push({name: 'consultation-show', params: {id}})
        },

        toEdit(id) {
            this.$router.push({name: 'consultation-edit', params: {id}})
        },
    },
    computed: {
        ...mapGetters({
            entities: 'consultations/all'
        })
    },
    beforeMount() {
        this.fetch()
    }
}
</script>

<style scoped>

</style>
