<template>
    <BaseView :title="isEdit ? 'Редактирование заявки' : 'Новая заявка'">
        <v-form :disabled="loading">
            <v-container fluid>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-card :loading="loading" elevation="10" rounded="4" class="pa-4">
                            <v-select
                                v-model="consultation.pet_id" label="Питомец" variant="outlined"
                                :items="pets"
                                item-value="id"
                                item-title="name"
                                density="compact"/>

                            <v-select
                                v-model="consultation.vet_service_id" label="Оказываемая услуга"
                                :items="services"
                                item-value="id"
                                item-title="name"
                                variant="outlined" density="compact"/>

                            <v-text-field
                                v-model="consultation.symptoms" label="Описание симптомов" variant="outlined"
                                density="compact"/>

                            <v-textarea
                                v-model="consultation.comment" label="Комментарий" variant="outlined"
                                density="compact"/>
                            <v-textarea
                                v-if="isEdit"
                                v-model="consultation.commentChat" label="Комментарий ChatGPT" variant="outlined"
                                density="compact"/>
                            <v-text-field
                                v-model="consultation.date_symptoms" label="Дата симптомов"
                                type="date" variant="outlined" density="compact"
                            />
                        </v-card>
                    </v-col>

                    <v-col cols="12" md="6" class="mt-4 mt-md-0">
                        <v-select
                            v-model="consultation.vet_consultation_type_id" label="Тип консультации"
                            :items="consTypes"
                            item-value="id"
                            item-title="name"
                            variant="outlined" density="compact"/>

                        <v-select
                            clearable
                            item-value="id"
                            item-title="fullName"
                            :items="vets"
                            variant="outlined" density="compact"
                            v-model="consultation.vet_id" label="Ответственный ветеринар"/>

                        <v-text-field
                            v-model="consultation.term" label="Срок заявки"
                            type="date" variant="outlined" density="compact"
                        />

                        <div class="d-flex">
                            <v-btn
                                class="ms-auto ms-md-0"
                                variant="elevated" color="primary"
                                :loading="loading"
                                :disabled="loading" @click="save">
                                Сохранить
                            </v-btn>
                        </div>
                    </v-col>
                </v-row>
            </v-container>
        </v-form>
    </BaseView>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import BaseView from "@/views/BaseView.vue";


export default {
    name: "ConsultationForm",
    components: {BaseView},
    data: () => ({
        loading: false,

        consultation: {
            pet_id: null,
            vet_service_id: null,
            symptoms: null,
            comment: null,
            commentChat: null,
            date_symptoms: null,
            vet_consultation_type_id: null,
            vet_id: null,
        },
    }),
    methods: {
        ...mapActions({
            fetchPets: 'pets/fetchAllPets',
            fetchServices: 'vetServices/fetchAll',
            fetchVets: 'users/fetchAllVets',
            fetchConsTypes: 'consultationTypes/fetchAll',

            fetch: 'consultations/fetch',
            create: 'consultations/create',
            update: 'consultations/update',
        }),

        save() {
            this.loading = true
            let req = this.isEdit ? this.update(this.consultation) : this.create(this.consultation)

            req.finally(() => this.loading = false)
                .then(i => {
                    this.$router.push({name: 'consultation-show', params: {id: i.id}})
                })
        },
    },

    computed: {
        ...mapGetters({
            pets: 'pets/allPets',
            services: 'vetServices/all',
            vets: 'users/allVets',
            consTypes: "consultationTypes/all"
        }),

        isEdit() {
            return this.$route.params?.id !== null && this.$route.params?.id !== undefined
        }
    },

    beforeMount() {
        this.fetchPets()
        this.fetchServices()
        this.fetchVets()
        this.fetchConsTypes()

        if (this.isEdit) {
            this.loading = true

            this.fetch(this.$route.params.id)
                .finally(() => this.loading = false)
                .then(i => this.consultation = i);
        }
    }
}
</script>
