<template>
    <BaseView title="Ответ клиенту">
        <v-form ref="petForm" method="post" enctype='multipart/form-data'>
            <v-container fluid>
                <v-row>
                    <v-col cols="24" md="4">
                        <v-text-field v-model="response.diagnose"
                                      name="diagnose" variant="underlined" density="compact"
                                      label="Диагноз"/>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" md="4">
                        <v-text-field v-model="response.recommendation"
                                      name="recommendation" variant="underlined" density="compact"
                                      label="Рекомендации"/>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-btn
                            variant="outlined" color="success"
                            class="ms-3"
                            :loading="loading"
                            :disabled="loading" @click="saveResponse">
                            Сохранить
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-form>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "ConsultationResponse",
    components: {BaseView},

    data: () => ({
        loading: false,

        consultation: null,

        response: {
            diagnose: '',
            recommendation: '',
        },
    }),
    computed: {
        ...mapGetters({
            user: 'users/user'
        }),

        isEdit() {
            return this.$route.params?.id !== null && this.$route.params?.id !== undefined
        }
    },
    methods: {
        ...mapActions({
            create: 'consultationResponses/create',
            update: 'consultationResponses/update',
            fetch: 'consultationResponses/fetch'
        }),

        saveResponse() {
            const form = (new FormData(this.$refs.petForm.$el));

            this.loading = true;

            let req;

            form.append('vet_id', this.user.id);
            form.append('vet_consultation_id', this.$route.params.consultationId);

            if (!this.isEdit) {
                req = this.create(form);
            } else {
                form.append('id', this.$route.params.id);
                req = this.update(form);
            }

            req.finally(() => this.loading = false).then(this.$router.back)
        },


    },

    beforeMount() {
        if (this.isEdit) {
            this.loading = true

            this.fetch(this.$route.params.id)
                .finally(() => this.loading = false)
                .then(i => this.response = i);
        }
    }
}
</script>

<style scoped>

</style>
