<template>
    <v-btn
        variant="tonal"
        @click="$emit('click')"
        elevation="4"
        :disabled="loading">
        {{ text ?? 'Добавить' }}
    </v-btn>
</template>

<script>
export default {
    name: "AddBtn",
    props: ['text', 'loading'],
    emits: ['click']
}
</script>

<style scoped>

</style>
