<template>
    <BaseView :title="isEdit ? 'Редактирование питомца' : 'Добавление питомца'">
        <v-form :disabled="loading" ref="petForm" method="post" enctype='multipart/form-data'>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" class="pb-0">
                        <strong>Общие данные</strong>
                    </v-col>
                    <v-col cols="12" md="4">
                        <v-text-field
                            name="name" v-model="pet.name" variant="underlined" density="compact"
                            label="Кличка"/>

                        <v-select
                            name="pet_type_id" v-model="pet.pet_type_id" density="compact" :items="listPetTypes"
                            item-value="id"
                            item-title="name"
                            variant="underlined" label="Вид"/>

                        <v-select
                            name="pet_breed_id" v-model="pet.pet_breed_id" density="compact" :items="listBreeds"
                            item-value="id"
                            item-title="name"
                            variant="underlined"
                            label="Порода"/>

                        <v-text-field
                            name="chip_number" v-model="pet.chip_number" density="compact"
                            variant="underlined" type="number"
                            label="Номер чипа"
                            placeholder="необязательно"/>

                        <ChoosePhoto
                            title="Фото питомца"
                            @change="petImg = $event"
                            :src="pet.image_path"
                        />
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-select
                            name="gender_id" v-model="pet.gender_id" density="compact" :items="listGenders"
                            item-value="id"
                            item-title="name"
                            variant="underlined" label="Пол"/>

                        <v-text-field
                            name="birthday" v-model="pet.birthday" type="date" variant="underlined"
                            label="Дата рождения"/>

                        <v-text-field
                            name="weight" v-model="pet.weight" density="compact" type="number"
                            variant="underlined"
                            label="Вес (в кг)"
                            placeholder="пример: 3.20"/>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" class="pb-0">
                        <strong>Здоровье</strong>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-select
                            name="sterialization_id" v-model="pet.sterialization_id" density="compact"
                            variant="underlined"
                            :items="listSterializations" item-value="id"
                            item-title="name"
                            label="Стериализация"/>

                        <v-select
                            name="origin_id" v-model="pet.origin_id" density="compact" :items="listOrigins"
                            item-value="id"
                            item-title="name"
                            variant="underlined"
                            label="Происхождение"/>

                        <v-select
                            name="place_condition_id" v-model="pet.place_condition_id" density="compact"
                            :items="listPlaces"
                            variant="underlined" item-value="id"
                            item-title="name"
                            label="Место содержания"/>

                        <v-select
                            name="detention_condition_id" v-model="pet.detention_condition_id" density="compact"
                            :items="listDetentions"
                            variant="underlined" item-value="id"
                            item-title="name"
                            label="Условие содержания"/>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-select
                            name="nutrition_id" v-model="pet.nutrition_id" density="compact"
                            :items="listNutrition" item-value="id"
                            item-title="name"
                            variant="underlined"
                            label="Питание"/>

                        <v-select
                            name="food_brand_id" v-model="pet.food_brand_id" density="compact"
                            :items="listFoodBrands" item-value="id"
                            item-title="name"
                            variant="underlined"
                            label="Марка корма"/>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12">
                        <v-btn variant="outlined" @click="$router.back()" ref="toBack">
                            Назад
                        </v-btn>

                        <v-btn
                            variant="outlined" color="success"
                            class="ms-3"
                            :loading="loading"
                            :disabled="loading" @click="savePet">
                            Сохранить
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-form>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions, mapGetters} from "vuex";
import ChoosePhoto from "@comp/inputs/ChoosePhoto.vue";
import AccentSheet from "@comp/sheets/AccentSheet.vue";

export default {
    name: "PetForm",
    components: {AccentSheet, ChoosePhoto, BaseView},
    data: () => ({
        loading: false,

        pet: {
            name: '',
            birthday: '',
            chip_number: '',
            weight: '',

            place_condition_id: null,
            detention_condition_id: null,
            food_brand_id: null,
            nutrition_id: null,
            pet_breed_id: null,
            gender_id: 1,
            pet_type_id: null,
            origin_id: null,
            sterialization_id: 2,
        },

        petImg: null
    }),
    methods: {
        ...mapActions({
            fetchPlaces: 'petPlaceConditions/fetchAllEntities',
            fetchDetentions: 'petDetentionConditions/fetchAllEntities',
            fetchFoodBrands: 'petFoods/fetchAllEntities',
            fetchNutrition: 'petNutrition/fetchAllEntities',
            fetchOrigins: 'petOrigins/fetchAllEntities',
            fetchPetTypes: 'petTypes/fetchAllPetTypes',
            fetchBreeds: 'petBreeds/fetchAllEntities',
            fetchGenders: 'genders/fetchAll',
            fetchSterializations: 'sterializations/fetchAllEntities',

            create: 'pets/create',
            update: 'pets/update',
            fetch: 'pets/fetchPetById'
        }),

        initFields() {
            this.fetchPlaces()
            this.fetchDetentions()
            this.fetchFoodBrands()
            this.fetchNutrition()
            this.fetchOrigins()
            this.fetchPetTypes()
            this.fetchBreeds()
            this.fetchGenders()
            this.fetchSterializations()
        },

        savePet() {
            const form = (new FormData(this.$refs.petForm.$el))
            form.append('image', this.petImg)

            this.loading = true

            let req

            if (this.isEdit) {
                form.append('id', this.$route.params.id)
                req = this.update(form)
            } else {
                req = this.create(form)
            }

            req.finally(() => this.loading = false).then(this.$router.back)
        },
    },
    computed: {
        ...mapGetters({
            listPlaces: 'petPlaceConditions/allEntities',
            listDetentions: 'petDetentionConditions/allEntities',
            listFoodBrands: 'petFoods/allEntities',
            listNutrition: 'petNutrition/allEntities',
            listOrigins: 'petOrigins/allEntities',
            listPetTypes: 'petTypes/allPetTypes',
            listBreeds: 'petBreeds/allEntities',
            listGenders: 'genders/all',
            listSterializations: 'sterializations/allEntities',
        }),

        isEdit() {
            return this.$route.params?.id !== null && this.$route.params?.id !== undefined
        }
    },

    beforeMount() {
        this.initFields()

        if (this.isEdit) {
            this.loading = true

            this.fetch(this.$route.params.id)
                .finally(() => this.loading = false)
                .then(i => this.pet = i);
        }
    }
}
</script>

<style scoped>

</style>
