<script setup>
import AddBtn from "@comp/btns/AddBtn.vue";
</script>

<template>
    <BaseView title="Мои питомцы">
        <v-container fluid>
            <v-row>
                <v-col cols="12" class="mb-3">
                    <AddBtn
                        :to="{name: 'my-pets-add'}"
                        text="Создать профиль питомца"
                    />
                </v-col>

                <template
                    v-if="!(pets === null || pets.length < 1)"
                >
                    <v-col
                        v-for="pet in pets"
                        :key="pet.id"
                        cols="12"
                        sm="6"
                        md="4"
                        xl="3"
                    >
                        <v-card
                            :image="pet.image?.path"
                            link
                            :to="{ name: 'pet-show', params: {id: pet.id} }"
                            color="brown"
                            height="200"
                            elevation="3">
                            <v-card-title class="text-white" style="background-color: rgb(28 26 59)">
                                {{ pet.name }}
                            </v-card-title>
                        </v-card>
                    </v-col>
                </template>

                <v-col v-else>
                    <v-card>
                        <v-card-text>Нет данных</v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "MyPets",
    components: {BaseView},
    data: () => ({}),
    methods: {
        ...mapActions({
            fetch: 'pets/fetchMyPets'
        })
    },
    computed: {
        ...mapGetters({
            pets: 'pets/myPets'
        })
    },
    beforeMount() {
        this.fetch()
    }
}
</script>

<style scoped>

</style>
