<template>
    <BaseView>
        <template v-if="pet !== null">
            <v-card-title>{{ pet.name }}</v-card-title>

            <v-container fluid>
                <v-row>
                    <v-col cols="12" md="4" v-if="pet.image !== null">
                        <v-sheet elevation="3">
                            <q-img
                                :src="pet.image?.path"
                                fit="contain"
                                height="auto"
                                style="max-height: 350px;"
                            />
                        </v-sheet>
                    </v-col>

                    <v-col cols="12" sm="6" md="4">
                        <v-list lines="one">
                            <v-list-item title="Пол" :subtitle="pet.gender ?? '-'"/>
                            <v-list-item class="mt-1" title="Порода" :subtitle="pet.pet_breed ?? '-'"/>
                            <v-list-item class="mt-1" title="Происхождение" :subtitle="pet.origin ?? '-'"/>
                            <v-list-item class="mt-1" title="Вес" :subtitle="pet.weight ?? '-'"/>
                            <v-list-item class="mt-1" title="Пол" :subtitle="pet.gender ?? '-'"/>
                            <v-list-item class="mt-1" title="Место содержания" :subtitle="pet.place ?? '-'"/>
                            <v-list-item class="mt-1" title="Условие содержания" :subtitle="pet.detention ?? '-'"/>
                        </v-list>
                    </v-col>

                    <v-col cols="12" sm="6" md="4">
                        <v-list lines="one">
                            <v-list-item class="mt-1" title="Стериализация" :subtitle="pet.sterialization ?? '-'"/>
                            <v-list-item class="mt-1" title="Питание" :subtitle="pet.nutrition ?? '-'"/>
                            <v-list-item class="mt-1" title="Бренд корма" :subtitle="pet.food_brand ?? '-'"/>
                            <v-list-item class="mt-1" title="Номер чипа" :subtitle="pet.chip_number ?? '-'"/>
                            <v-list-item class="mt-1" title="Дата рождения" :subtitle="pet.birthday ?? '-'"/>
                            <v-list-item class="mt-1" title="Зарегистрирован" :subtitle="pet.created ?? '-'"/>
                        </v-list>
                    </v-col>

                    <v-col cols="12"
                           class="ms-auto ms-lg-0 d-flex justify-content-end justify-content-lg-start"
                    >
                        <v-btn variant="flat" color="orange" :to="{name: 'pet-edit', params: {id: pet.id}}">
                            Редактирование
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </template>

        <template v-else>
            <v-card-text class="mt-4">
                <v-card-title>
                    Мой питомец <br>
                    <v-progress-circular indeterminate class="mt-2"/>
                </v-card-title>
            </v-card-text>
        </template>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions, mapGetters} from "vuex";
import AccentSheet from "@comp/sheets/AccentSheet.vue";

export default {
    name: "ShowPet",
    data: () => ({
        pet: null
    }),
    components: {AccentSheet, BaseView},
    methods: {
        ...mapActions({
            fetchPet: 'pets/fetchPetById'
        }),
    },
    beforeMount() {
        this.fetchPet(this.$route.params.id)
            .then(pet => this.pet = pet)
    }

}
</script>

<style scoped>

</style>
