<template>
    <div>
        <v-text-field
            label="Наименование учебного заведения"
            v-model="education.name"
            class="mb-2"
            :rules="[required]"
            type="text"
            autocomplete="education_name"
            density="comfortable"
            variant="filled"
            clearable
        />

        <v-card elevation="4">
            <v-card-title style="font-size: 1.1rem;">Фото образования</v-card-title>

            <v-card-text>
                <v-row v-if="education.files && education.files.length > 0">
                    <v-col
                        v-for="image in education.files"
                        :key="image.file_id"
                        class="d-flex child-flex"
                        @click="onDescribeImage(image)"
                        cols="4"
                    >
                        <v-img
                            :src="image.path"
                            :alt="image.name"
                            aspect-ratio="1"
                            class="shadow-lg grey v-card--hover lighten-2"
                        />
                    </v-col>
                </v-row>
            </v-card-text>

            <v-card-actions>
                <v-dialog
                    v-model="addImgDialog"
                    max-width="650"
                >
                    <template v-slot:activator="{ props }">
                        <v-btn
                            prepend-icon="mdi-paperclip"
                            v-bind="props"
                        >
                            Прикрепить
                        </v-btn>
                    </template>

                    <v-card>
                        <v-card-text>
                            <v-file-input
                                chips
                                prepend-icon=""
                                multiple
                                accept="image/*"
                                v-model="files"
                                label="Выбор изображений"
                            />

                            <v-btn block @click="sendImages" color="success">Применить</v-btn>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn block @click="addImgDialog = false">Закрыть</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-card-actions>
        </v-card>

        <v-card-actions class="align-center">
            <p class="my-0">Образование добавлено {{ educationProp.created_at }}</p>
            <v-spacer/>
            <v-btn @click="update" :loading="formSending" :disabled="formSending"
                   color="success"
            >
                Сохранить
            </v-btn>
        </v-card-actions>
        <v-divider/>
    </div>
</template>

<script>
import {mapActions} from "vuex";
import {toRaw} from "vue";

export default {
    name: "VetEducationCard",
    emits: ['describeImage'],
    props: {
        educationProp: Object
    },

    data: () => ({
        formSending: false,
        addImgDialog: false,
        files: null,
        education: {
            id: 0,
            name: ''
        }
    }),

    methods: {
        required(v) {
            return !!v || 'Обязательное поле'
        },

        ...mapActions({
            updateEducation: 'vets/updateEducation',
            addEducationImages: 'files/addEducationImages',
            fetchEducation: 'educations/fetchEducationById'
        }),

        update() {
            this.formSending = true
            this.updateEducation(this.education)
                .finally(() => this.formSending = false)
        },

        refreshEducation() {
            this.fetchEducation(this.education.id)
                .then(edu => this.education = edu)
        },

        sendImages() {
            this.addEducationImages({
                id: this.education.id,
                files: this.files
            })
                .then((r) => {
                    this.addImgDialog = false
                    this.files = null
                    this.refreshEducation()
                })
        },

        onDescribeImage(img) {
            this.$emit('describeImage', {
                image: img,
                refreshEducationDataCallback: this.refreshEducation
            })
        },
    },

    beforeMount() {
        this.education = toRaw(this.educationProp);
    }
}
</script>
