<template>
    <div>
        <v-container fluid>
            <v-row>
                <v-col v-for="data in educations" cols="12">
                    <VetEducationCard
                        :key="data.id"
                        :education-prop="data"
                        @describeImage="describePhoto"
                    />
                </v-col>
            </v-row>
        </v-container>

        <v-dialog
            v-model="showImgDialog"
            max-width="650"
        >
            <v-card v-if="imgForDialog" :title="imgForDialog.name">
                <v-card-text>
                    <v-img
                        :src="imgForDialog.path"
                        :alt="imgForDialog.name"
                        aspect-ratio="1"
                        class="shadow-lg grey v-card--hover lighten-2"
                    />
                </v-card-text>

                <v-card-actions>
                    <v-btn @click="showImgDialog = false">Закрыть</v-btn>
                    <v-spacer/>
                    <v-btn @click="dropEducationFile">Удалить фото</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import {mapActions} from "vuex";
import VetEducationCard from "@comp/cards/VetEducationCard.vue";
import {toRaw} from "vue";

let refreshEducationCb = null

export default {
    name: "VetEducationCardContainer",
    components: {VetEducationCard},

    props: {
        vetEducations: {
            type: Array,
            default: null
        },
    },

    data: () => ({
        educations: [],
        showImgDialog: false,
        imgForDialog: null,
    }),

    methods: {
        ...mapActions({
            fetchUser: 'users/fetchCurrentUser',
            deleteEducationFile: 'educations/deleteEducationFile',
        }),

        describePhoto({image, refreshEducationDataCallback}) {
            this.imgForDialog = image
            this.showImgDialog = true
            refreshEducationCb = refreshEducationDataCallback
        },

        dropEducationFile() {
            this.deleteEducationFile(this.imgForDialog.id).finally(() => {
                this.showImgDialog = false
                if (refreshEducationCb !== null) {
                    refreshEducationCb()
                }
            })
        },
    },

    beforeMount() {
        if (this.vetEducations) {
            this.educations = toRaw(this.vetEducations)
        } else {
            this.fetchUser()
                .then(u => this.educations = u?.personal?.educations ?? []);
        }
    }
}
</script>
