<template>
    <v-banner
        v-show="message !== null && message.length > 0"
        :lines="line ?? 'two'"
        icon="mdi-wifi-strength-alert-outline"
        class="mt-4"
        color="warning"
    >
        <template v-slot:text>
            {{ message }}
        </template>

        <template v-slot:actions>
            <v-btn @click="$emit('hide')">
                Скрыть
            </v-btn>
        </template>
    </v-banner>
</template>

<script>
export default {
    name: "ErrorResponseBanner",
    props: ['message', 'line'],
    emits: ['hide']
}
</script>
