<template>
    <BaseView>
        <v-card-title>{{ isEdit ? 'Редактирование' : 'Добавление' }} услуги</v-card-title>

        <v-form v-model="form" :disabled="formLoading" method="post">
            <v-container fluid>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-text-field
                            name="name" v-model="service.name" variant="outlined" density="compact"
                            label="Наименование"/>

                        <v-text-field
                            name="price" v-model="service.price" density="compact"
                            variant="outlined" type="number"
                            label="Стоимость"/>

                        <v-select variant="outlined" density="compact" label="Подходаящая специализация"/>
                    </v-col>

                    <v-col cols="12">
                        <v-btn variant="outlined" @click="$router.back()" ref="toBack">
                            Назад
                        </v-btn>

                        <v-btn variant="tonal" class="ms-3" :disabled="!form || formLoading"
                               @click="submit">
                            Сохранить
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-form>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions} from "vuex";

export default {
    name: "ServiceAdd",
    components: {BaseView},

    data: () => ({
        formLoading: false,
        form: true,
        isEdit: false,
        service: {
            name: '',
            price: '',
        },
    }),

    methods: {
        ...mapActions({
            create: 'vetServices/create',
            update: 'vetServices/update',
            fetchById: 'vetServices/fetchById',
        }),

        submit() {
            this.formLoading = true

            let request;

            if (this.isEdit) {
                request = this.update({entity: this.service, id: this.$route.params.id})
                    .finally(() => this.formLoading = false)
            } else {
                request = this.create(this.service).finally(() => this.formLoading = false)
            }

            request.then(() => this.$router.back())
        },
    },

    beforeMount() {
        const entityId = this.$route.params.id

        if (entityId) {
            this.isEdit = true
            this.fetchById(entityId)
                .then(entity => this.service = entity)
        }
    },

    computed: {},
}
</script>

<style scoped>

</style>
