<script setup>
import DefaultTable from "@comp/tables/DefaultTable.vue";
import AddBtn from "@comp/btns/AddBtn.vue";

const tableHeaders = [
    {label: "#", field: "id", sortable: true, align: 'left', style: 'width: 20px'},
    {label: "Услуга", field: "name", sortable: true, align: 'left'},
    {label: "Цена", field: "price", sortable: true, align: 'left'},
    {label: "Добавлена", field: "created", sortable: true, align: 'left'},
];
</script>

<template>
    <BaseView title="Ветеринарные услуги">
        <v-container fluid>
            <v-row>
                <v-col cols="12">
                    <AddBtn
                        :to="{name: 'services-add'}" text="Добавить"
                    />

                    <v-divider/>
                    <DefaultTable
                        :rows="entities"
                        :cols="tableHeaders"
                        :edit="toEditPage"
                    />
                </v-col>
            </v-row>
        </v-container>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "VetServices",
    components: {BaseView},
    methods: {
        ...mapActions({
            fetch: 'vetServices/fetchAll'
        }),

        toEditPage(id) {
            this.$router.push({name: 'service-edit', params: {id}})
        },
    },
    computed: {
        ...mapGetters({
            entities: 'vetServices/all'
        })
    },
    beforeMount() {
        this.fetch()
    }
}
</script>

<style scoped>

</style>
