<template>
    <v-form v-model="form" @submit.prevent="onSubmit">
        <v-container>
            <v-window v-model="window">
                <v-window-item :value="1">
                    <p>Контактные данные</p>
                    <ContactInputs
                        @changeContact="contact = $event"
                    />

                    <v-text-field
                        label="Город"
                        v-model="city"

                        class="mb-2"
                        :rules="[required]"
                        variant="filled"
                        autocomplete="city"
                        type="text"
                        clearable
                        density="compact"
                    />
                </v-window-item>

                <v-window-item :value="2">
                    <p>Данные для входа</p>
                    <AccountInputs
                        @changeAccount="account = $event"
                    />
                </v-window-item>
            </v-window>
        </v-container>

        <v-divider></v-divider>

        <v-card-actions>
            <v-btn variant="text">
                {{ window }} / 2
            </v-btn>

            <v-spacer/>

            <v-btn v-if="window > 1" variant="flat" @click="window--">
                Назад 👈
            </v-btn>

            <v-spacer/>
            <v-btn v-if="window < 2" variant="flat" @click="window++">
                Вперёд 👉
            </v-btn>

            <v-spacer v-show="window !== 1"/>

            <v-btn
                v-show="window !== 1"
                :loading="loading"
                :disabled="!form"
                color="success"
                type="submit"
                variant="elevated"
            >
                Зарегистрироваться
                <v-icon icon="mdi-chevron-right" end></v-icon>
            </v-btn>
        </v-card-actions>
    </v-form>
</template>

<script>
import {mapActions} from "vuex";
import AccountInputs from "@comp/register/form/AccountInputs.vue";
import ContactInputs from "@comp/register/form/ContactInputs.vue";

export default {
    name: "ClientRegisterForm",
    components: {ContactInputs, AccountInputs},

    data: () => ({
        form: false,
        window: 1,
        loading: false,
        contact: {},
        account: {},
        city: ''
    }),

    methods: {
        ...mapActions({
            register: 'users/clientRegister'
        }),

        async onSubmit() {
            let formData = {
                ...this.account,
                ...this.contact,
                city: this.city
            }

            if (this.form) {
                this.loading = true;
                try {
                    const isSuccess = await this.register(formData)
                    if (isSuccess) {
                        this.$router.push({name: 'home'}).then(() => window.location.reload())
                    }
                } catch (e) {
                    console.dir(e)
                }
                this.loading = false
            }
        },

        required(v) {
            return !!v || 'Обязательное поле'
        },
    },
}
</script>

<style scoped>

</style>
