<template>
    <v-form v-model="form" @submit.prevent="onSubmit" :disabled="formLoading">
        <v-container>
            <v-window v-model="window">
                <v-window-item :value="1">
                    <p>Контактные данные</p>
                    <v-select
                        :items="workTypeItems === null ? [] : workTypeItems"
                        item-title="name"
                        item-value="id"
                        name="vet_work_type_id"
                        :loading="workTypesLoading"
                        v-model="workType"
                        label="Форма занятости"
                    />

                    <ContactInputs
                        @changeContact="contact = $event"
                    />
                </v-window-item>

                <v-window-item :value="2">
                    <p>Паспортные данные</p>
                    <PassportInputs
                        @changePassport="passport = $event"
                    />
                </v-window-item>

                <v-window-item :value="3">
                    <p>Образование</p>
                    <EducationInputs
                        @changeEducation="education = $event"
                    />
                </v-window-item>

                <v-window-item :value="4">
                    <p>Бансковские данные</p>
                    <BankInputs
                        @changeBank="bank = $event"
                    />
                </v-window-item>

                <v-window-item :value="5">
                    <p>Данные для входа</p>
                    <AccountInputs
                        @changeAccount="account = $event"
                    />
                </v-window-item>
            </v-window>
        </v-container>

        <v-divider></v-divider>

        <v-card-actions>
            <v-btn variant="text">
                {{ window }} / 5
            </v-btn>

            <v-spacer/>

            <v-btn v-if="window > 1" variant="flat" @click="window--">
                Назад 👈
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn v-if="window < 5" variant="flat" @click="window++">
                Вперёд 👉
            </v-btn>

            <v-spacer v-show="window === 5"/>

            <v-btn
                type="submit"
                :disabled="!form"
                :loading="formLoading"
                color="success" v-show="window === 5" variant="elevated">
                Зарегистрироваться
                <v-icon icon="mdi-chevron-right" end></v-icon>
            </v-btn>
        </v-card-actions>
    </v-form>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import AccountInputs from "@comp/register/form/AccountInputs.vue";
import ContactInputs from "@comp/register/form/ContactInputs.vue";
import BankInputs from "@comp/register/form/BankInputs.vue";
import EducationInputs from "@comp/register/form/EducationInputs.vue";
import PassportInputs from "@comp/register/form/PassportInputs.vue";

export default {
    name: "VetRegisterForm",
    components: {PassportInputs, EducationInputs, BankInputs, ContactInputs, AccountInputs},

    data: () => ({
        window: 1,
        form: false,
        formLoading: false,

        workType: 1,
        contact: {},
        bank: {},
        account: {},
        education: {},
        passport: {}
    }),

    methods: {
        async onSubmit() {
            let formData = {
                ...this.contact,
                ...this.education,
                ...this.passport,
                ...this.account,
                ...this.bank,
                vet_work_type_id: this.workType
            }

            if (this.form) {
                this.formLoading = true;
                try {
                    const isSuccess = await this.register(formData)
                    if (isSuccess) {
                        this.$router.push({name: 'home'}).then(() => window.location.reload())
                    }
                } catch (e) {
                    console.dir(e)
                }
                this.formLoading = false
            }
        },

        required(v) {
            return !!v || 'Обязательное поле'
        },

        ...mapActions({
            fetchWorkTypes: 'workTypes/fetchAllWorkTypes',
            register: 'users/vetRegister'
        })
    },

    computed: {
        workTypesLoading() {
            return this.workTypeItems === null
        },

        ...mapGetters({
            workTypeItems: "workTypes/allTypes"
        }),
    },

    beforeMount() {
        this.fetchWorkTypes()
    }
}
</script>

<style scoped>

</style>
