<script setup>
import DefaultTable from "@comp/tables/DefaultTable.vue";
import AddBtn from "@comp/btns/AddBtn.vue";

const tableHeaders = [
    {label: "#", field: "id", sortable: true, align: 'left', style: 'width: 20px'},
    {label: "Логин", field: "email", sortable: true, align: 'left'},
    {label: "ФИО", field: "fullName", sortable: true, align: 'left'},
    {label: "Роль", field: 'role', sortable: true, align: 'left'},
    {label: "День рождения", field: "birthday", sortable: true, align: 'left'},
    {label: "Зарегистрирован", field: "created", sortable: true, align: 'left'}
];
</script>

<template>
    <BaseView title="Пользователи">
        <v-container fluid>
            <v-row>
                <v-col cols="12">
                    <AddBtn text="Зарегистрировать" @click="$router.push({name: 'user-add'})" />
                </v-col>

                <v-col cols="12">
                    <DefaultTable
                        :rows="users"
                        :cols="tableHeaders"
                        :edit="toEdit"
                        :show="toShow"
                    />
                </v-col>
            </v-row>
        </v-container>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "AllUsers",
    components: {BaseView},
    methods: {
        ...mapActions({
            fetch: 'users/fetchAllUsers'
        }),
        toEdit(id) {
            this.$router.push({name: 'user-edit', params: {id}})
        },
        toShow(id) {
            this.$router.push({name: 'user-show', params: {id}})
        },
    },
    computed: {
        ...mapGetters({
            users: 'users/allUsers'
        })
    },
    beforeMount() {
        this.fetch()
    }
}
</script>

<style scoped>

</style>
