<script setup>
import {VET_ROLE_ID} from "@/api/roles";
import VetEducationCardContainer from "@comp/cards/VetEducationCardContainer.vue";
import BankInputs from "@comp/register/form/BankInputs.vue";
</script>

<template>
    <BaseView :title="isEdit ? 'Редактирование пользователя' : 'Регистрация пользователя'">
        <v-form>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" md="6">
                        <AccentSheet :container="true" title="Основные параметры">
                            <v-text-field
                                label="Фамилия"
                                name="surname"
                                v-model="user.surname"
                                variant="outlined"
                                class="mb-2"
                                autocomplete="surname"
                                type="text"
                                density="compact"
                                clearable
                            />

                            <v-text-field
                                label="Имя"
                                name="name"
                                v-model="user.name"
                                density="compact"
                                variant="outlined"
                                class="mb-2"
                                autocomplete="name"
                                type="text"
                                clearable
                            />

                            <v-text-field
                                label="Отчество"
                                name="patronymic"
                                v-model="user.patronymic"
                                density="compact"
                                variant="outlined"
                                class="mb-2"
                                autocomplete="patronymic"
                                type="text"
                                clearable
                            />

                            <v-text-field
                                label="Телефон"
                                name="phone"
                                v-model="user.phone"
                                density="compact"
                                variant="outlined"
                                class="mb-2"
                                autocomplete="phone"
                                type="number"
                                prefix="+7"
                                placeholder="... ... .. .."
                                clearable
                            />

                            <v-text-field
                                label="Дата рождения"
                                name="birthday"
                                v-model="user.birthday"
                                density="compact"
                                variant="outlined"
                                class="mb-2"
                                autocomplete="birthday"
                                type="date"
                                clearable
                            />

                            <v-text-field
                                label="Город фактического прибывания"
                                name="city"
                                v-model="user.city"
                                autocomplete="city"
                                density="compact"
                                variant="outlined"
                                clearable
                            />
                        </AccentSheet>
                    </v-col>

                    <v-col cols="12" md="6" class="mt-5 mt-md-0">
                        <AccentSheet :container="true" title="Данные для входа">
                            <v-text-field
                                variant="outlined" density="compact" v-model="user.email" type="email" label="E-mail"
                                name="email"/>
                            <v-select
                                v-model="user.role_id" variant="outlined" density="compact"
                                name="role_id" label="Роль" :items="roles" item-value="id" item-title="name"
                            />
                            <v-text-field
                                variant="outlined" density="compact" type="password"
                                v-model="user.password"
                                :label="isEdit ? 'Введите для смены пароля' : 'Пароль'"
                                name="password"/>
                            <v-text-field
                                v-model="user.password_confirmation"
                                variant="outlined" density="compact" type="password" label="Повторите пароль"
                                name="confirm_password"/>
                        </AccentSheet>
                    </v-col>

                    <v-col cols="12" class="mt-5 mt-md-0 pt-0" v-if="user.role_id === VET_ROLE_ID">
                        <v-container fluid class="px-0 mt-0 pt-0">
                            <v-row>
                                <v-col cols="12" class="mt-5" v-if="user.personal === null">
                                    <v-alert icon="mdi-alert" closable type="info">
                                        <v-alert-title>
                                            Заполнив формы ниже, вы автоматически зарегистрируете ветеринара.
                                        </v-alert-title>
                                    </v-alert>
                                </v-col>

                                <v-col cols="12" md="6">
                                    <AccentSheet :container="true" title="Данные ветеринара" class="mt-5">
                                        <v-select
                                            density="compact" variant="outlined"
                                            item-value="id" item-title="name"
                                            v-model="personal.vet_work_type_id"
                                            :items="workTypes" label="Форма занятости"/>

                                        <p>Паспортные данные</p>
                                        <v-text-field
                                            variant="outlined" density="compact" label="Адрес"
                                            v-model="personal.address"
                                            name="personal.address"/>
                                        <v-text-field
                                            variant="outlined" density="compact" label="Серия паспорта"
                                            type="number"
                                            min="0000"
                                            max="9999"
                                            v-model="personal.passport_series"
                                            name="personal.passport_series"/>
                                        <v-text-field
                                            variant="outlined" density="compact" label="Номер паспорта"
                                            v-model="personal.passport_number"
                                            name="personal.passport_number"/>

                                        <p>Вложения</p>
                                        <v-file-input
                                            variant="outlined" density="compact" label="Фото паспорта" type="file"
                                            v-model="personal.passport_photo"
                                            name="attachments.passport_photo"/>
                                        <v-file-input
                                            variant="outlined" density="compact" label="Фото ветеринара" type="file"
                                            v-model="personal.vet_photo"
                                            name="attachments.vet_photo"/>
                                    </AccentSheet>
                                </v-col>

                                <v-col cols="12" md="6">
                                    <AccentSheet
                                        :container="true" title="Образование ветеринара" class="mt-5"
                                    >
                                        <VetEducationCardContainer
                                            v-if="personal.educations"
                                            :vet-educations="personal.educations"
                                        />

                                        <v-text-field
                                            v-else
                                            name="education.name"
                                            v-model="education.name"
                                            variant="outlined" density="compact"
                                            label="Наименование учебного заведения"/>
                                    </AccentSheet>
                                </v-col>

                                <v-col cols="12" md="6">
                                    <AccentSheet
                                        :container="true" title="Банковские данные" class="mt-5"
                                    >
                                        <BankInputs
                                            :bank-data="bankData"
                                            @change-bank="bankData = $event"
                                            :outlined="true"
                                            :compact="true"
                                        />
                                    </AccentSheet>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="6"
                           class="d-flex mx-md-auto justify-content-end justify-content-md-start">
                        <v-btn
                            color="primary" variant="flat" elevation="5"
                            @click="save" :disabled="loading" :loading="loading"
                            class="mt-3 mt-md-6" size="large" block>Сохранить
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-form>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions, mapGetters} from "vuex";
import AccentSheet from "@comp/sheets/AccentSheet.vue";
import {VET_ROLE_ID} from "@/api/roles";
import {toRaw} from "vue";

export default {
    name: "UserForm",
    components: {AccentSheet, BaseView},
    data: () => ({
        loading: false,
        user: {
            name: '',
            surname: '',
            patronymic: '',
            phone: '',
            birthday: '',
            city: '',
            city_id: null,
            role_id: null,
            email: '',
            password: '',
            confirm_password: '',
        },

        personal: {
            address: '',
            passport_series: '',
            passport_number: '',
            vet_work_type_id: null,

            passport_photo: null,
            vet_photo: null,
        },

        education: {
            name: ''
        },

        bankData: {
            settlement_account: '',
            bank_name: '',
            bank_address: '',
            bank_correspondent_account: '',
            bik: '',
        }
    }),
    methods: {
        ...mapActions({
            fetch: 'users/fetch',
            fetchRoles: 'users/fetchRoles',
            fetchWorkTypes: 'workTypes/fetchAllWorkTypes',

            create: 'users/adminCreate',
            update: 'users/adminUpdate',
        }),

        save() {
            this.loading = true
            let user = toRaw(this.user)

            if (user.role_id === VET_ROLE_ID) {
                user = {...user, ...this.personal, ...this.bankData, education_name: this.education.name}

                if (this.isEdit) {
                    user.education_name = 'TODO';
                }
            }

            if (this.isEdit) {
                delete user.email // TODO обновление email
            }

            let req = !this.isEdit ? this.create(user) : this.update(user);

            req.finally(() => this.loading = false)
                .then(u => this.$router.push({name: 'user-show', params: {id: u.id}}))
        },
    },
    computed: {
        isEdit() {
            return this.$route.params.id !== undefined && this.$route.params.id !== null
        },

        ...mapGetters({
            roles: 'users/roles',
            workTypes: 'workTypes/allTypes'
        })
    },
    beforeMount() {
        if (this.isEdit) {
            this.loading = true
            this.fetch(this.$route.params.id)
                .then(u => {
                    this.user = u

                    if (u.personal !== null) {
                        this.personal = u.personal

                        if (u.personal?.bank) {
                            this.bankData = u.personal.bank
                        }
                    }
                })
                .finally(() => this.loading = false)
        }

        this.fetchRoles()
        this.fetchWorkTypes()
    }
}
</script>

<style scoped>

</style>
