<template>
    <BaseView :container="true" title="Просмотр пользователя (в разработке)">
        <v-col>
            <AccentSheet :container="true">
                <v-progress-circular v-if="loading" indeterminate color="primary" />

                <v-code v-else>
                    <pre>
                    {{ user }}
                    </pre>
                </v-code>
            </AccentSheet>
        </v-col>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions} from "vuex";
import AccentSheet from "@comp/sheets/AccentSheet.vue";

export default {
    name: "UserShow",
    components: {AccentSheet, BaseView},
    data: () => ({
        loading: false,
        user: {
            name: '',
            surname: '',
            patronymic: '',
            phone: '',
            birthday: '',
            city: '',
            city_id: null,
            email: '',
            password: '',
            confirm_password: '',

            role: {
                id: null
            }
        },
    }),
    methods: {
        ...mapActions({
            fetch: 'users/fetch',
        }),
    },
    beforeMount() {
        this.loading = true
        this.fetch(this.$route.params.id)
            .then(u => {
                this.user = u
            })
            .finally(() => this.loading = false)
    }
}
</script>

<style scoped>

</style>
