<template>
    <v-col
        cols="12"
        align-self="center"
        class="fill-height"
    >
        <v-card rounded="lg" min-height="100%" class="pb-10">
            <v-card-title v-if="titleNotEmpty">
                <h1 style="margin-top: 8px; font-size: 1.5rem; line-height: inherit;">{{ title }}</h1>
            </v-card-title>

            <slot v-if="!container"/>

            <v-container v-else fluid>
                <v-row>
                    <slot />
                </v-row>
            </v-container>
        </v-card>
    </v-col>
</template>

<script>
export default {
    name: "BaseView",
    props: {
        title: {
            type: String,
            default: null
        },
        container: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        titleNotEmpty() {
            return this.title !== null || !this.title?.length > 1
        }
    },
    beforeMount() {
        document.title = this.titleNotEmpty ? this.title : 'vet2pet';
    }
}
</script>
