<template>
    <BaseView title="В разработке">
        <v-col>
        </v-col>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";

export default {
    name: "Home",
    components: {BaseView}
}
</script>

<style scoped>

</style>
