<template>
    <v-card rounded class="py-4 px-2" max-width="570" elevation="5" :loading="loading" :disabled="loading">
        <v-card-title>
            Авторизация
        </v-card-title>

        <v-card-text class="mt-2">
            <v-form v-model="form" @submit.prevent="onSubmit">
                <v-text-field
                    v-model="user.email"
                    name="email"
                    :rules="[required, emailV]"
                    class="mb-2"
                    clearable
                    autocomplete="email"
                    label="Ваш E-mail"
                    placeholder="your@mail.ru"
                />

                <v-text-field
                    v-model="user.password"
                    type="password"
                    name="password"
                    autocomplete="new-password"
                    :rules="[required]"
                    clearable
                    label="Ваш пароль"
                    placeholder="Введите пароль"
                />

                <v-btn
                    :disabled="!form"
                    block
                    class="mt-4"
                    max-width="240"
                    color="primary"
                    size="large"
                    type="submit"
                    variant="tonal"
                >
                    Войти
                </v-btn>
            </v-form>

            <ErrorResponseBanner
                :message="errorMessage"
                @hide="errorMessage = ''"
            />
        </v-card-text>

        <v-card-actions>
            <v-btn
                class="mt-4 ms-1"
                color="primary"
                size="small"
                variant="text"
                to="reset"
                disabled
            >
                Забыл пароль
            </v-btn>

            <v-divider/>

            <v-btn
                class="mt-4 ms-1"
                color="primary"
                size="small"
                variant="text"
                to="register"
            >
                Регистрация
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import {mapActions} from "vuex";
import ErrorResponseBanner from "@comp/banners/ErrorResponseBanner.vue";

export default {
    name: "Login",
    components: {ErrorResponseBanner},

    data: () => ({
        form: false,
        loading: false,
        errorMessage: '',
        user: {
            email: '',
            password: '',
        }
    }),

    methods: {
        ...mapActions({
            login: 'users/signIn',
            drop: 'users/dropUser'
        }),

        onSubmit() {
            if (!this.form) return
            this.loading = true

            this.login(this.user).then(r => {
                this.errorMessage = ''
                this.$router.push({name: 'home'}).then(() => window.location.reload())
            })
                .catch(this.onErrorResponse)
                .finally(() => this.loading = false)
        },

        required(v) {
            return !!v || 'Поле обязатально.'
        },

        onErrorResponse({response}) {
            this.errorMessage = response?.data?.message
            this.user.password = ''
        },

        emailV(v) {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(v) || 'Некорректный e-mail.'
        },
    },

    beforeMount() {
        this.drop()
    }
}
</script>
