<template>
    <v-card
        rounded class="mx-auto py-4 px-2"
        title="Регистрация"
        max-width="570" elevation="5"
    >
        <v-divider color="black" class="my-1"/>

        <v-tabs v-model="currentTab" align-tabs="center" centered density="comfortable">
            <v-tab :value="1" slider-color="primary">Клиент</v-tab>
            <v-tab :value="2" slider-color="success">Ветеринар</v-tab>
        </v-tabs>

        <v-window v-model="currentTab">
            <v-window-item :value="1">
                <ClientRegisterForm/>
            </v-window-item>

            <v-window-item :value="2">
                <VetRegisterForm/>
            </v-window-item>
        </v-window>
    </v-card>
</template>

<script>
import ClientRegisterForm from "@comp/register/ClientRegisterForm.vue";
import VetRegisterForm from "@comp/register/VetRegisterForm.vue";

export default {
    name: "Register",
    components: {VetRegisterForm, ClientRegisterForm},

    data: () => ({
        currentTab: 1,
    }),
}
</script>
