<template>
    <v-col
        md="10"
        sm="11"
        align-self="center"
        class="fill-height"
    >
        <v-card
            elevation="3"
            rounded="lg"
            min-height="100%"
            title="Настройки"
        >

            <v-row align-content="stretch">
                <v-col cols="4">
                    <v-sheet elevation="5" class="pa-5 fill-height">
                        <p>Контактная информация</p>
                        <ContactInputs/>
                    </v-sheet>
                </v-col>

                <v-col cols="4">
                    <v-sheet elevation="5" class="pa-5 fill-height">
                        <p>Банковские данные</p>
                        <BankInputs/>
                    </v-sheet>
                </v-col>

                <v-col cols="4">
                    <v-sheet elevation="5" class="pa-5 fill-height">
                        <p>Образование</p>
                        <EducationInputs/>
                    </v-sheet>
                </v-col>

                <v-col cols="4">
                    <v-sheet elevation="5" class="pa-5 fill-height">
                        <p>Пасспортные данные</p>
                        <PassportInputs :user="user"/>
                    </v-sheet>
                </v-col>

                <v-col cols="4">
                    <v-sheet elevation="5" class="pa-5 fill-height">
                        <p>Сменить пароль для входа</p>
                        <AccountInputs :user="user" />
                    </v-sheet>
                </v-col>
            </v-row>


            <v-card-actions class="pa-5">
                <v-spacer/>
                <v-btn color="success" variant="elevated">
                    Сохранить
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-col>
</template>

<script>
import {mapGetters} from "vuex";
import ContactInputs from "@comp/register/form/ContactInputs.vue";
import AccountInputs from "@comp/register/form/AccountInputs.vue";
import BankInputs from "@comp/register/form/BankInputs.vue";
import EducationInputs from "@comp/register/form/EducationInputs.vue";
import PassportInputs from "@comp/register/form/PassportInputs.vue";

export default {
    name: "Settings",
    components: {PassportInputs, EducationInputs, BankInputs, AccountInputs, ContactInputs},

    computed: {
        ...mapGetters({
            user: 'users/user',
        })
    },
}
</script>

<style scoped>

</style>
