<template>
    <v-list>
        <template v-if="user !== null">
            <v-list-item
                v-for="route in routes"
                :key="route.name"
                :prepend-icon="route.icon"
                class="nav-list"
                :to="route.path">
                <template v-slot:title>
                    <span>{{route.title}}</span>
                </template>
            </v-list-item>
        </template>

        <v-list-item v-else>
            <v-progress-circular indeterminate/>
        </v-list-item>

<!--        TODO сделать вложенные элементы навигации -->
<!--        <v-list-group value="Actions">-->
<!--            <template v-slot:activator="{ props }">-->
<!--                <v-list-item-->
<!--                    v-bind="props"-->
<!--                    title="Actions"-->
<!--                ></v-list-item>-->
<!--            </template>-->

<!--            <v-list-item-->
<!--                value="title"-->
<!--                title="title"-->
<!--            ></v-list-item>-->
<!--        </v-list-group>-->
    </v-list>
</template>

<script>

export default {
    name: "NavList",

    props: {
        user: {
            type: Object,
            default: null
        }
    },

    data: () => ({
        routes: []
    }),

    methods: {
        /** Формирование маршрутов из vue router */
        fetchNavRoutes() {
            let navRoutes = [];
            const role = this.user?.role_slug

            // проходимся по всем роутам из vue router
            this.$router.options.routes.forEach((route) => {
                const isNavLink = !!route?.meta?.navLink;

                if (isNavLink) {
                    const routeForRole = route?.meta?.role;
                    const {title, icon} = route?.meta?.navLink;

                    if (role === routeForRole || routeForRole === 'common') {
                        navRoutes.push({
                            name: route.name,
                            path: route.path,
                            title,
                            icon,
                        });
                    }
                }
            });

            this.routes = navRoutes;
        },
    },

    beforeMount() {
        this.fetchNavRoutes()
    }
}
</script>

<style>
.v-theme--light .nav-list .v-icon, .v-theme--light .nav-list .v-list-item-title {
    color: rgb(198 202 233);
}
</style>
