<template>
    <v-btn v-if="switcherText" rounded variant="text" :append-icon="themeIcon" @click="onChange">
        {{ switcherText }}
    </v-btn>
    <v-btn v-else rounded variant="elevated" :icon="themeIcon" @click="onChange"></v-btn>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "ThemeSwitcher",

    props: {
        switcherText: null
    },

    methods: {
        async onChange() {
            await this.switchTheme()
            this.$emit('switchTheme')
        },
        ...mapActions({
            switchTheme: 'switchTheme'
        })
    },

    computed: {
        ...mapGetters(['themeIcon'])
    },
}
</script>

<style scoped>

</style>
