<template>
    <v-menu min-width="250px" rounded :disabled="loading">
        <template v-slot:activator="{ props }">
            <v-btn icon v-bind="props">
                <v-avatar v-if="!loading" color="brown" size="large">
                    <span v-if="user" class="text-h5">{{ user.initials }}</span>
                </v-avatar>

                <v-progress-circular v-else indeterminate bg-color="brown" />
            </v-btn>
        </template>

        <v-card>
            <v-card-text>
                <div class="mx-auto text-center pb-3">
                    <p class="mt-2" style="font-size: 1.1rem;">
                        <b>
                            {{ user.fullName }}
                        </b>
                    </p>
                    <p style="font-size: 1rem;">{{ user.email }}</p>

                    <ThemeSwitcher switcher-text="Тема" />

                    <v-divider class="my-1" />

                    <v-btn rounded variant="text" append-icon="mdi-cog" to="/settings">
                        Настройки
                    </v-btn>

                    <v-divider class="my-3" />

                    <v-btn append-icon="mdi-exit-to-app" color="red" rounded variant="text" @click="onLogout">Выйти</v-btn>

                    <slot name="logout" />
                </div>
            </v-card-text>
        </v-card>
    </v-menu>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import ThemeSwitcher from "@comp/navbar/ThemeSwitcher.vue";

export default {
    name: "UserMenu",
    components: {ThemeSwitcher},

    methods: {
        ...mapActions({
            logout: 'users/logout'
        }),

        onLogout() {
            this.logout().then(r => {
                if (r.status === 204) {
                    window.location.reload()
                }
            })
        }
    },

    computed: {
        ...mapGetters({
            user: 'users/user',
            loading: 'users/loading',
        }),
    }
}
</script>

<style scoped>

</style>
