<template>
    <v-sheet elevation="8">
        <div class="q-pa-md">
            <q-table
                :title="title"
                :rows="rows"
                :columns="headers"
                row-key="id"
                flat
                :filter="filter"
                :grid="isGrid"
                rows-per-page-label="Показать"
                no-data-label="Нет данных"
                :pagination="pagination"
                @row-click="clickHandler"
                :dark="theme === 'dark'"
            >
                <template v-slot:top-right>
                    <q-input dense debounce="300" v-model="filter" placeholder="Поиск">
                        <template v-slot:append>
                            <q-icon name="search" />
                        </template>
                    </q-input>
                </template>

		<template v-slot:body-cell="props">
                    <q-td
                        :props="props"
                        :class="(props.row.is_done == 1) ? 'bg-green text-black': (props.row.term < (moment(new Date()).format('YYYY-MM-DD'))) ? 'bg-red text-black' :'bg-white text-black'"
                    >
                        {{props.value}}
                    </q-td>
                </template>

                <template v-if="edit" v-slot:body-cell-edit="props">
                    <q-td :props="props" class="ps-0" :class="(props.row.is_done == 1) ? 'bg-green text-black': (props.row.term < (moment(new Date()).format('YYYY-MM-DD'))) ? 'bg-red text-black' :'bg-white text-black'">
                        <v-btn size="28" icon="mdi-pen" color="orange" @click.stop="onEdit(props.row.id)"/>
                    </q-td>
                </template>

                <template v-if="show" v-slot:body-cell-show="props">
                    <q-td :props="props" class="ps-0">
                        <v-btn size="28" icon="mdi-eye" color="primary" @click.stop="onShow(props.row.id)"/>
                    </q-td>
                </template>

                <template v-if="remove" v-slot:body-cell-remove="props">
                    <q-td :props="props" class="ps-0">
                        <v-btn size="28" icon="mdi-delete-empty" color="danger" @click.stop="onDelete(props.row.id)"/>
                    </q-td>
                </template>
            </q-table>
        </div>
    </v-sheet>
</template>

<script>
import {mapGetters} from "vuex";
import {toRaw} from "vue";
import moment from 'moment';

export default {
    name: "DefaultTable",

    data: () => ({
        headers: [],
        pagination: {
            rowsPerPage: 10,
	    sortBy: 'id',
	    descending: true
        },
        filter: ''
    }),

    emits: ['edit', 'show', 'remove', 'rowClick'],

    props: {
        title: {
            type: String,
        },
        isGrid: {
            type: Boolean,
            default: false
        },
        cols: {
            type: Array,
            default: []
        },
        rows: {
            type: Array,
            default: []
        },
        clickable: {
            type: Boolean,
            default: false
        },
        show: {
            default: false
        },
        edit: {
            default: false
        },
        remove: {
            default: false
        }
    },

    computed: {
        ...mapGetters(['theme']),

        clickHandler() {
            return this.clickable === true ? this.onRowClick : undefined
        }
    },

    methods: {
        moment: function () {
            return moment();
        },
        onRowClick(_e, row) {
            this.$emit('rowClick', row)
        },

        onEdit(id) {
            this.$emit('edit', id)
            if (typeof this.edit === 'function') {
                this.edit(id)
            }
        },

        onShow(id) {
            this.$emit('show', id)
            if (typeof this.show === 'function') {
                this.show(id)
            }
        },

        onDelete(id) {
            this.$emit('remove', id)
        },
    },

    beforeMount() {
        let headers = toRaw(this.cols)

        if (this.show !== false) {
            headers.push({name: 'show', align: 'right'})
        }

        if (this.edit !== false) {
            headers.push({name: 'edit', align: 'center'})
        }

        if (this.remove !== false) {
            headers.push({name: 'remove', align: 'left'})
        }

        this.headers = headers
    }
}
</script>

<style>
.q-field__control-container.col.relative-position.row.no-wrap.q-anchor--skip > div > span {
    display: block;
    min-width: 55px;
    padding: 0 0 0 20px;
}
div.q-table__top.relative-position.row.items-center > div.q-table__control > label > div > div > div.q-field__control-container.col.relative-position.row.no-wrap.q-anchor--skip {
    min-width: 200px;
}

div.q-table__top.relative-position.row.items-center > div:nth-child(1) > div {
    margin-left: -12px;
}
</style>
