<script setup>
import AddBtn from "@comp/btns/AddBtn.vue";

const headers = [
    {
        label: "#", field: "id", sortable: true, align: 'left', style: 'width: 20px'
    },
    {
        label: "Наименование", field: "name", sortable: true, align: 'left'
    },
]
</script>

<template>
    <BaseView>
        <v-card-title>Питание</v-card-title>

        <v-card-text class="mt-3">
            <v-text-field
                label="Новое наименование"
                name="name"
                variant="outlined"
                :loading="loading"
                v-model="name"
            />

            <AddBtn @click="add" :loading="loading || name.length < 1"/>
        </v-card-text>

        <v-container fluid>
            <v-row>
                <v-col sm="12">
                    <DefaultTable
                        :cols="headers"
                        :rows="entities"
                    />
                </v-col>
            </v-row>
        </v-container>
    </BaseView>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import BaseView from "@/views/BaseView.vue";
import DefaultTable from "@comp/tables/DefaultTable.vue";

export default {
    components: {DefaultTable, BaseView},

    data: () => ({
        loading: false,
        name: ''
    }),

    computed: {
        ...mapGetters({
            entities: "petNutrition/allEntities"
        })
    },

    methods: {
        ...mapActions({
            fetch: 'petNutrition/fetchAllEntities',
            create: 'petNutrition/create'
        }),

        add() {
            if (this.name) {
                this.loading = true
                this.create({
                    name: this.name
                }).finally(this.onEndRequest);
            }
        },

        onEndRequest() {
            this.loading = false
            this.name = ''
        },
    },

    beforeMount() {
        this.loading = true
        this.fetch().finally(this.onEndRequest)
    }
};
</script>
