<script setup>
import DefaultTable from "@comp/tables/DefaultTable.vue";

const tableHeaders = [
    {label: "#", field: "id", sortable: true, align: 'left', style: 'width: 20px'},
    {label: "Кличка", field: "name", sortable: true, align: 'left'},
    {label: "Владелец", field: ({user}) => user.fullName, sortable: true, align: 'left'},
    {label: "Вес", field: "weight", sortable: true, align: 'left'},
    {label: "Чип", field: "chip_number", sortable: true, align: 'left'},
];

const buttons = [
    {
        name: 'Виды животных',
        route: 'pet-types'
    },
    {
        name: 'Породы',
        route: 'pet-breeds'
    },
    {
        name: 'Условия содержания',
        route: 'detention-conditions'
    },
    {
        name: 'Место содержания',
        route: 'place-conditions'
    },
    {
        name: 'Бренды корма',
        route: 'food-brands'
    },
    {
        name: 'Питание',
        route: 'pet-nutrition'
    },
    {
        name: 'Происхождение',
        route: 'pet-origins'
    },
];

</script>

<template>
    <BaseView title="Питомцы">
        <v-container fluid>
            <v-row>
                <v-col cols="12">
                    <v-btn
                        v-for="btn in buttons" :key="btn.route" variant="tonal" :to="btn.route"
                        elevation="4"
                        class="mr-4 mb-3">
                        {{ btn.name }}
                    </v-btn>
                </v-col>

                <v-col cols="12" class="mt-3">
                    <DefaultTable
                        :rows="pets"
                        :cols="tableHeaders"
                        :edit="toEdit"
                        :clickable="true"
                        @row-click="toShow"
                    />
                </v-col>
            </v-row>
        </v-container>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "Pets",
    components: {BaseView},
    methods: {
        ...mapActions({
            fetch: 'pets/fetchAllPets'
        }),

        toShow({id}) {
            this.$router.push({name: 'pet-show', params: {id}})
        },

        toEdit(id) {
            this.$router.push({name: 'pet-edit', params: {id}})
        },
    },
    computed: {
        ...mapGetters({
            pets: 'pets/allPets'
        })
    },
    beforeMount() {
        this.fetch()
    }
}
</script>

<style scoped>

</style>
