<script setup>
import ContactInputs from "@comp/register/form/ContactInputs.vue";
import AccountInputs from "@comp/register/form/AccountInputs.vue";
import PassportInputs from "@comp/register/form/PassportInputs.vue";
import VetEducationCardContainer from "@comp/cards/VetEducationCardContainer.vue";

const tabs = [
    {
        id: 1,
        text: 'Контактная информация',
        component: ContactInputs
    },
    {
        id: 2,
        text: 'Паспортные данные',
        component: PassportInputs
    },
    {
        id: 3,
        text: 'Образование',
        component: VetEducationCardContainer
    },
    {
        id: 4,
        text: 'Данные для входа',
        component: AccountInputs
    },
];

</script>

<template>
    <BaseSettings :tabs="tabs"/>
</template>

<script>
import BaseSettings from "@/views/base/BaseSettings.vue";

export default {
    name: "VetSettings",
    components: {BaseSettings}
}
</script>

<style scoped>

</style>
