<template>
    <BaseLayout>
        <AppBar>
            <v-app-bar-nav-icon v-show="mobile" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

            <v-toolbar-title>
                <b>
                    <span style="font-size: 30px; color: #007bff;">VET2PET</span>
                </b>
            </v-toolbar-title>

            <v-spacer/>
            <UserMenu/>
        </AppBar>

        <v-navigation-drawer v-model="drawer" :permanent="!mobile" width="350">
            <v-sheet v-show="!userLoading" rounded="4" class="pa-4 mb-2" elevation="4" id="nav-sheet">
                <v-avatar
                    class="mb-4"
                    color="brown"
                    size="64"
                >
                    <span v-if="user" class="text-h5">{{ user.initials }}</span>
                </v-avatar>

                <div class="nav-sheet-text">{{ user?.role }}</div>
                <div class="nav-sheet-text">{{ user?.email }}</div>
            </v-sheet>

            <NavList v-if="user !== null" :user="user"/>
        </v-navigation-drawer>

        <v-main>
            <v-container fluid class="fill-height" id="main-container">
                <v-row align-content="center" class="fill-height" justify="center">
                    <router-view/>
                </v-row>
            </v-container>
        </v-main>
    </BaseLayout>
</template>

<script>
import {mapActions, mapGetters} from "vuex"
import {useDisplay} from 'vuetify'
import UserMenu from "@comp/navbar/UserMenu.vue";
import AppBar from "@comp/navbar/AppBar.vue";
import BaseLayout from "@comp/layouts/BaseLayout.vue";
import NavList from "@comp/navbar/NavList.vue";

export default {
    name: "AppLayout",
    components: {NavList, BaseLayout, AppBar, UserMenu},

    data: () => ({
        drawer: true,
        mobile: useDisplay().mobile
    }),

    computed: {
        ...mapGetters({
            user: 'users/user',
            userLoading: 'users/loading',
        })
    },

    methods: {
        ...mapActions({
            fetchCurrentUser: 'users/fetchCurrentUser',
        }),
    },

    beforeMount() {
        this.fetchCurrentUser()
    }
}
</script>

<style>
.v-theme--light .nav-sheet-text {
    color: rgb(198 202 233);
}

.v-theme--light .v-navigation-drawer__content {
    background-color: #0e0c28;
}

.v-theme--light #nav-sheet {
    background-color: rgb(28 26 59);
}

.v-theme--light #main-container {
    background-color: #efeff6;
}
</style>
