<template>
    <v-app :theme="theme">
        <slot />
    </v-app>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "BaseLayout",

    computed: {
        ...mapGetters(['theme'])
    },
}
</script>

<style scoped>

</style>
