<template>
    <BaseLayout>
        <AppBar>
            <v-toolbar-title>VET2PET</v-toolbar-title>
            <v-spacer></v-spacer>

            <ThemeSwitcher/>

            <v-btn v-if="this.$route.name !== 'login'" to="login">
                Войти
            </v-btn>
        </AppBar>

        <v-main>
            <v-container class="fill-height">
                <v-row align="center" class="fill-height">
                    <v-col align="center" cols="12">
                        <router-view/>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </BaseLayout>
</template>

<script>
import AppBar from "@comp/navbar/AppBar.vue";
import BaseLayout from "@comp/layouts/BaseLayout.vue";
import ThemeSwitcher from "@comp/navbar/ThemeSwitcher.vue";

export default {
    name: "LoginLayout",
    components: {ThemeSwitcher, BaseLayout, AppBar},

}
</script>

<style scoped>

</style>
