<script setup>
import DefaultTable from "@comp/tables/DefaultTable.vue";

const tableHeaders = [
    {label: "#", field: "id", sortable: true, align: 'left', style: 'width: 20px'},
    {label: "Оценка", field: "stars", sortable: true, align: 'left'},
    {label: "Клиент", field: "client", sortable: true, align: 'left'},
    {label: "Ветеринар", field: "vet", sortable: true, align: 'left'},
    {label: "Комментарий", field: "comment", sortable: true, align: 'left'},
    {label: "Дата", field: "created", sortable: true, align: 'left'},
];
</script>

<template>
    <BaseView title="Отзывы">
        <v-container fluid>
            <v-row>
                <v-col cols="12" class="mt-3">
                    <DefaultTable
                        :rows="entities"
                        :cols="tableHeaders"
                    />
                </v-col>
            </v-row>
        </v-container>
    </BaseView>
</template>

<script>
import BaseView from "@/views/BaseView.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "AllReviews",
    components: {BaseView},
    methods: {
        ...mapActions({
            fetch: 'vetServices/fetchAll'
        })
    },
    computed: {
        ...mapGetters({
            entities: 'vetServices/all'
        })
    },
    beforeMount() {
        // this.fetch()
    }
}
</script>

<style scoped>

</style>
