<template>
    <v-sheet
        rounded="2"
        elevation="4"
        :color="bg"
    >
        <v-card-title v-if="title">
            {{ title }}
        </v-card-title>

        <slot v-if="!container" />

        <v-container v-else>
            <slot />
        </v-container>
    </v-sheet>
</template>

<script>
import {useTheme} from "vuetify";

export default {
    name: "AccentSheet",
    props: ['container', 'title'],

    computed: {
        bg() {
            return useTheme().name.value === 'light' ? 'grey-lighten-4' : 'grey-darken-4'
        },
    },
}
</script>

<style scoped>

</style>
