<template>
    <v-card :subtitle="title" elevation="3">
        <v-card-text v-show="img.uploadFileData || src">
            <v-img
                :src="img.uploadFileData !== null ? img.uploadFileData : src ? src : null"
                aspect-ratio="1"
                width="300"
                class="shadow-lg grey lighten-2 photo"
            />
        </v-card-text>

        <v-card-text>
            <v-dialog
                v-model="addImgDialog"
                max-width="650"
            >
                <template v-slot:activator="{ props }">
                    <v-btn
                        prepend-icon="mdi-paperclip"
                        v-bind="props"
                    >
                        {{ img.uploadFileData === null && !src ? 'Прикрепить' : 'Изменить' }}
                    </v-btn>
                </template>

                <v-card>
                    <v-card-text>
                        <v-file-input
                            chips
                            :multiple="false"
                            name="photos"
                            accept="image/*"
                            @change="onFileChange"
                            :model-value="img.file"
                            label="Выбор изображения"
                        />

                        <v-btn block @click="addImgDialog = false" color="success">
                            Применить
                        </v-btn>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    name: "ChoosePhoto",
    props: ['title', 'id', 'src'],
    emits: ['change'],

    data: () => ({
        addImgDialog: false,
        img: {
            displayFileName: null,
            uploadFileData: null,
            file: null
        }
    }),

    methods: {
        onFileChange(e) {
            if (e.target.files && e.target.files.length) {
                let file = e.target.files[0];
                this.img.file = file;
                this.img.displayFileName = file.name + " (" + Math.round(file.size / 1024) + "Kb)";

                let reader = new FileReader();
                reader.onload = e => {
                    this.img.uploadFileData = e.target.result;
                };
                reader.readAsDataURL(file);

                this.$emit('change', file)
                this.addImgDialog = false
            }
        },
    }
}
</script>

<style scoped>
    .photo {
        height: auto;
        max-height: 200px;
    }
</style>
